<%= render 'layouts/header' %>

<div class = "offset3">
<div class = "row">
	<div class = "implications argClaim span4">
		View implications
	</div>
</div>

<div class = "row arrow">
	<%= render 'shared/upArrow' %>
</div>
<div class = "row claimSection">
	<ul class = "claimMain hList">
		<li class = "argClaim claim span4">

			<%= render 'shared/claimBox' %>
		</li>

		<div class = "equivalence span2">
			<%= render 'shared/equivalence' %>
		</div>

		<li class = "argClaim equivalents span4">
			View equivalent claims

		</li>

	</ul>
</div>
<div class = "row arrow">
<%= render 'shared/upArrow' %>
</div>
<div class = "row">
<div class = "support argClaim  span4">
		View support
</div>
</div>
</div>